
  <h1>Hi, <b><%= @restaurant.name %></b></h1>
  <p>
    Here are the reservation details for the guest,
    Guest name: <b><%= @guest.name %></b>.<br>
    Guest email: <b><%= @guest.email %></b>.<br>
    Guest Count: <b><%= @reservation.guest_count %></b>.<br>
    Booked table: <b><%= @table.name %></b>.<br>
    Reserved Time: <b><%= @reservation.reservation_time.strftime("%d %B, %Y %I:%M %P") %></b>.<br>
  </p>
  <p>Thanks and have a great day!</p>
