

  <h1>Hi , <%= @guest.name %></h1>

  <h3>Welcome to , <%= @restaurant.name %></h3>

  <p>
    You have successfully reserved table <%= @table.name %>, with <%= @reservation.guest_count %> number of guests.<br>
    <br>
    Please join on time <%= @reservation.reservation_time.strftime("%d %B, %Y %H:%M %p") %>.
  </p>

  <p>
    For any feedback, just put a mail: <%= @restaurant.email %>.<br>
    You can also call on <%= @restaurant.phone %>
  </p>
  <p>Thanks for preference and have a great day!</p>
