
  <h1>Hi, <%= @restaurant.name %></h1>
  <p>
    Here are the reservation details for the guest,
    Guest name: <%= @guest.name %>.<br>
    Guest email: <%= @guest.email %>.<br>
    Guest Count: <%= @reservation.guest_count %>.<br>
    Booked table: <%= @table.name %>.<br>
    Reserved Time: <%= @reservation.reservation_time %>.<br>
  </p>
  <p>Thanks and have a great day!</p>
